body, h1, h2, ul, li, p {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #F4F4F4;
	color: #333;
}

#top {
	background-color: #333;
	color: #FFF;
    padding: 10px;
}

#top ul {
    list-style: none;
}

#top ul li {
    display: inline;
    margin-right: 10px;
}

#bar {
    background-color: #DDD;
    padding: 10px;
}

#main {
    display: flex;
}

#column_left, #column_right {
    flex: 1;
    padding: 10px;
}

#column_left h2, #column_right ul {
    margin-bottom: 10px;
}

#column_left ul, #column_right ul {
    list-style: none;
}

#column_left ul li, #column_right ul li {
    margin-bottom: 5px;
}

#column_right a {
	color: #333;
	text-decoration: none;
}

#column_right a:hover {
	text-decoration: underline;
}

.spacer {
    flex: 0 0px 10px;
}

#footer {
    background-color: #333;
    color: #FFF;
    padding: 10px;
    text-align: center;
}

#footer a {
    color: #FFF;
    text-decoration: none;
    margin: 0 5px;
}

#footer a:hover {
    text-decoration: underline;
}