#apropos h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #5b5352;
}

#apropos p {
    text-align: center;
    font-size: 21.5px;
    line-height: 1.8;
    color: #5b5352;
}