* {
    font-family: "Baskervville", serif;
    font-style: normal;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.connexion_form {
    position: relative;
    background-color: #fae7de;
    border: 1px solid #5b5352;
    border-radius: 4px;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    font-size: 19px;
}

.connexion_form label {
    display: block;
    margin-bottom: 10px;
    color: #5b5352;
}

.connexion_form input[type="text"],
.connexion_form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #5b5352;
    border-radius: 4px;
    box-sizing: border-box;
}

.connexion_form input[type="submit"] {
    background-color: #5b5352;
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    border-radius: 4px;
    font-size: 19px;
    transition: background-color 0.3s ease-in-out;
}

.connexion_form input[type="submit"]:hover {
    background-color: #393434;
}

.spacer {
    height: 460px;
}

@media screen and (max-width: 600px) {
    .connexion_form {
        padding: 10px; 
        font-size: 16px; 
    }
}