.footer-container {
    background-color: #fdf9f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer-container p {
    margin: 0;
    font-size: 19px;
    color: #5b5352;
}

@media screen and (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        height: auto;
        padding: 5px;
        text-align: center;
    }

    .footer-container p {
        font-size: 16px;
    }
}