#contact h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #5b5352;
  margin-bottom: 20px;
}

.contact-container {
  position: relative;
  width: 100%;
}

.form-image {
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;
}

.form-image-left {
  left: 0;
  transform: scaleX(-1); 
}

.form-image-right {
  right: 0;
}

.contact_form {
  position: relative;
  background-color: #fdf9f5;
  overflow: hidden;
  border: 1px solid #5b5352;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  border-radius: 4px;
  font-size: 19px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.contact_form:hover {
  transform: translateY(-5px);
}

.contact_form label {
  display: block;
  margin-bottom: 10px;
  color: #5b5352;
}

.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form textarea {
  font-size: 19px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #5b5352;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact_form textarea {
  height: 100px;
}

.contact_form input[type="submit"] {
  background-image: linear-gradient(to bottom, #5b5352, #393434);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 250px;
  border-radius: 4px;
  font-size: 19px;
}

.contact_form input[type="submit"]:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 600px) {
  .contact_form {
      width: 100%;
      padding: 10px;
  }

  .contact_form input[type="submit"] {
      width: 100%;
  }
}

@media (max-width: 1500px) {
  .form-image {
    display: none;
  }
}