* {
    font-family: "Baskervville", serif;
    font-style: normal;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* ou mandatory (à demander) */
    scrollbar-width: none;
}

header {
    position: relative;
    padding: 20px;
}

main {
    padding: 20px;
}


section {
    margin-bottom: 40px;
    /* ajouter les scroll settings si mandatory */
}

.video-container {
    position: relative;
    width: 100%;
    height: 87.5vh; 
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: 900;
}

nav ul li {
    align-items: center;
    text-align: center;
    margin-right: 10px;
    font-size: 28px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #5b5352;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: #5b5352;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .logo {
        height: 100px;
    }

    nav ul {
        width: 85%;
        font-size: 18px;
    }
}
